.cabecalho {
    width: 100%;
    height: 12.0625rem;
    flex-shrink: 0;
    background: #BFD8BD;
}
.cabecalho__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-left: 50px;
}

span{
    color: #2A2A2A;
    font-family: Khula;
    font-size: 2.1875rem;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    letter-spacing: 0.4375rem;
    margin-top: 80px;
    cursor: pointer;
}

.cabecalho__container1{
    display: flex;
    justify-content: space-between;
    gap: 8px;
    margin-left: 30px;
}
.cabecalho__logo {
    width: 11.125rem;
    height: 11.9375rem;
    flex-shrink: 0;
    cursor: pointer;
}

/* Estilo geral do menu de navegação */
.menu {
    display: flex;
    justify-content: space-between;
    gap: 20px;
    padding: 60px;
    text-decoration: none;
    color: #FFF;
    font-family: Krub;
    font-size: 1.375rem;
    font-style: normal;
    font-weight: 700;
    line-height: 150%; 
    letter-spacing: 0.1375rem;
    margin-right: 100px;
}

.menu a {
    color: #FFF;
    text-decoration: none;
    padding-right: 40px;
}

/* Menu Hambúrguer (só visível em dispositivos móveis) */
.menu-mobile {
    display: none; 
    cursor: pointer; 
    z-index: 1000;
}


.hamburger-icon {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.hamburger-icon span {
    width: 30px; 
    height: 4px;  
    background-color: #2A2A2A; 
    border-radius: 5px;
}



@media (min-width: 769px) {
    .menu-mobile {
        display: none; 
    }
    .menu {
        display: flex; 
    }
}

@media (max-width: 768px) {
    .menu-mobile {
        display: block; 
        margin-right: 31px;
        margin-top: 30px;
        cursor: pointer;
    }

    
    html {
        font-size: 12px;
    }

    body {
        font-size: 1rem; 
    }

.menu {
    display: none; 
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.menu li {
    margin: 10px 0;
}

.menu a {
    color: #2A2A2A;
    text-decoration: none;
}

.menu-mobile {
    display: block;
    margin-right: 31px;
    margin-top: 30px;
    cursor: pointer; 
}

.hamburger-icon {
    width: 24px;
    height: 24px;
    flex-shrink: 0;
}


.menu.open {
    display: block; 
    background-color: #fff; 
    position: absolute; 
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh; 
    padding: 50px 0; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
    z-index: 1000;
    animation: slideIn 0.3s ease-out; 
}

@keyframes slideIn {
    from {
        transform: translateX(-100%); 
    }
    to {
        transform: translateX(0); 
    }
}

.menu.open li a {
    font-family: Krub, sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-align: center;
    display: block;
    padding: 10px 0;
    color: #2A2A2A;
    text-transform: uppercase;
    letter-spacing: 1px;
}


.menu.open + .menu-mobile .hamburger-icon {
    content: url('/img/close-icon.svg'); 
}


.cabecalho__container1{
    margin-left: -70px;
}

    .cabecalho__logo{
        width: 100px;
        height: 100px;
        flex-shrink: 0;
        margin-left: 40px;
        margin-top: 20px;
    }

    .cabecalho__titulo{
        color: #2A2A2A;
    font-family: Khula;
    font-size: 20px;
    font-style: normal;
    font-weight: 600;
    line-height: 150%; 
    letter-spacing: 4px;
    margin-top: 65px;
    }
    
    .principal {
        width: 500px;
        height: 250px;
        margin: 4rem auto;
        background-size: cover; 
        background-position: center;
        
    }

    .principal h1 {
    color: #FFF;
    font-family: Khula;
    font-size: 13px;
    font-style: normal;
    font-weight: 700;
    line-height: 115%;
    letter-spacing: -0.286px;
    width: 137px;
    height: 34px;
    flex-shrink: 0;
    margin-left: -9px;
    margin-top: -3px
    }

   
}
